.container{
    display: flex;
}

.kanan{
    width: 100%;
}

.conTable{
    /* border: 1px solid black; */
    margin-top: 20px;
    /* background-color: var(--bg-200); */
    border-radius: 5px;
    padding: 5px 15px 20px 15px;
}

.conTable .buttonCreate{
    /* border: 1px solid black; */
    display: flex;
    justify-content: right;
    padding: 10px 0;
    /* border: 1px solid black; */
}


.conTable .buttonCreate .userAddButton{
    text-decoration: none;
    background-color: rgb(41, 171, 65);
    color: rgb(11, 11, 11);
    padding: 6px 7px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(81, 75, 75, 0.2);
}

.conTable .buttonCreate .userAddButton:hover{
    /* background-color: var(--primary-100); */
    background-color: rgb(70, 148, 84);
}

.conTable .buttonSearchAndRow{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 10px;
    color: var(--text-100);
    /* border: 1px solid black; */
}

.conTable .buttonSearchAndRow .entitas{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 15px;
}

.conTable .buttonSearchAndRow .entitas select{
    /* border: 1px solid black; */
    margin: 0 7px;
    border-radius: 5px;
    padding: 3px;
    outline: none;
    border: 1px solid rgba(112, 111, 111, .5);
}


/* Start Search */
.navbarHome{
    display: flex;
    align-items: center;
    width: 20%;
}

.navbarHome .item{
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    position: relative;
    width: 100%;
}


.navbarHome .item input{
    /* border: 1px solid black; */
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
    padding: 5px 45px 5px 7px;
    font-size: 14px;
    border-radius: 5px;
	transition: all .3s ease;
}

.search span{
    position: absolute;
    right: 5px;
    border-radius: 50%;
    font-size: 20px;
    padding: 3px;
    /* border: 1px solid black; */
}

.navbarHome .search span:hover{
    color: var(--primary-200);
}

.navbarHome .item input:focus {
    box-shadow: 0 0 0 1px var(--primary-200);
}

/* End Start */

.conTable table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;
}

/* .conTable table::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.conTable table::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
} */

.conTable table th{
    padding: 13px 5px;
    text-align: left;
    font-size: 16px;
    background-color: rgba(240, 240, 240, 0.941);
    /* background-color: #475569; */
    /* border: 1px solid black; */
    
}

.conTable table th:nth-child(1){
    text-align: center;
}

.conTable table th:nth-child(6){
    text-align: center;
}

.conTable table td{
    /* border: 1px solid black; */
    /* margin: 7px 0; */
    font-size: 15px;
    /* color: rgb(112, 111, 111); */
    color: var(--text-100);
    padding: 10px 5px;
}

.conTable table tr{
    border-bottom: 1px solid gray;
}

.conTable table td:nth-child(1){
    text-align: center;
}


.conTable table td:nth-child(2){
    max-width: 250px;
    text-align: justify;
}

.conTable table td:nth-child(6){
    text-align: center;
}

.conTable table td:nth-child(8){
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* .conTable table tbody tr:nth-child(even){
    background-color: rgba(240, 240, 240, 0.941);
} */

.conTable table tbody tr:hover{
    background-color: aliceblue;
}

.conTable table tbody tr:hover td{
    color: var(--text-300);
}

.options{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.iconOptions{
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    cursor: pointer;
    font-size: 20px;
}

.iconOptions:nth-child(1){
    background-color: aquamarine;
    border-radius: 5px;
    color: rgb(45, 45, 145);
}

.iconOptions:nth-child(1):hover{
    background-color: rgb(98, 193, 161);
}

.iconOptions:nth-child(3){
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.iconOptions:nth-child(3):hover{
    background-color: rgb(156, 146, 146);
}

.iconOptions:nth-child(2){
    background-color: brown;
    color: white;
    border-radius: 5px;
}

.iconOptions:nth-child(2):hover{
    background-color: rgb(199, 77, 77);
}

.diajukan{
    max-width: 60px;
    padding: 5px;
    border-radius: 7px;
    background-color: rgba(92, 182, 137, .3);
    color: rgb(92, 182, 137);
}

.nonAjukan{
    max-width: 100px;
    padding: 4px;
    border-radius: 7px;
    background-color: rgba(223, 185, 94, 0.3);
    color: goldenrod;
}

.pagenation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 7px;
    /* border: 1px solid black; */
}

.pagenation span {
    font-size: 14px;
    color: var(--text-100);
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page .before{
    font-size: 17px;
    text-align: center;
    padding: 3px 5px;
    border-radius: 5px;
    color: var(--text-300);
    background-color: rgb(183, 183, 183);
    cursor: pointer;
}

.page .after{
    font-size: 17px;
    text-align: center;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: rgb(183, 183, 183);
    color: var(--text-300);
    cursor: pointer;
}

.page .number{
    padding: 3px 10px;
    border-radius: 4px;
    background-color: rgba(92, 182, 137, .9);
    color: var(--text-300);
    cursor: pointer;
    margin: 0 3px;
}

.page .number:hover{
    background-color: rgba(92, 182, 137, .7);

}

.page .before:hover,
.page .after:hover{
    background-color: rgb(150, 148, 148);
}
