.dataOrder{
    width: 20%;
    top: 50px;
    right: 50px;
    position: absolute;
    border: 1px solid black;
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.dataOrder .content{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 4px;
    border-bottom: 1px solid black;
}

/* Input Data */

.formOrder{
    margin-top: 10px;
    margin: auto;
    width: 100%;
    height: max-content;
    padding: 4px;
    text-align: right;
}

.formOrder h4{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


.formOrder .form .formItem{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* border: 1px solid black; */
    margin-top: 5px;
}

.formOrder .form .formItem label{
    margin-bottom: 5px;
}

.formOrder .form .formItem input{
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(109, 106, 106, 0.9);
    padding-left: 10px;
}

.formOrder .form .formItem input:focus{
    box-shadow: 0 0 1px 1px rgb(40, 40, 150);
}

.formOrder .button{
    outline: none;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin: 6px;
}